# Dependencies
node_modules/

# Environment
.env
.env.*
!.env.example

# Build output
dist/
coverage/

# NestJS
*.tsbuildinfo



# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
.nyc_output/

# Docker
*.pid

# Prisma generated client
packages/database-client/generated/