# Dependencies
node_modules/

# Environment
.env
.env.*

# Build output
dist/
coverage/

# NestJS
*.tsbuildinfo

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
.nyc_output/

# Docker
*.pid